`register_scheme` does not comply with rfc2396 (or 3986)

[RFC2396 § 3.1](https://datatracker.ietf.org/doc/html/rfc2396#section-3.1) states that the grammar for a URI scheme is:

```bnf
      scheme        = alpha *( alpha | digit | "+" | "-" | "." )
```

whereas [`.register_scheme`](/ruby/uri/blob/f4999b61daa40f2c99fdc7159e2c85c036b22c67/lib/uri/common.rb#L79) uses `const_set` which has an inconsistent grammar:

```ruby
  def self.register_scheme(scheme, klass)
    Schemes.const_set(scheme.to_s.upcase, klass)
  end
```

How much trouble would it be to switch to a `Hash` keyed by `Symbol`s, so that it's possible to register (compliant) URI schemes with hyphens, `+` signs, dots?

How many schemes are there that actually use a '.'?

The answer is fourteen:

```shell
$ curl -s https://www.iana.org/assignments/uri-schemes/uri-schemes.txt | sed -n '/^\([a-z][^ ]*\)/ s/\([^[:space:]]*\).*/\1/ p' | grep '\.' | wc -l
$ 14
```

[…along with five that contain a `+` and 81 that contain a `-`.](https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml)

> How much trouble would it be to switch to a `Hash` keyed by `Symbol`s, so that it's possible to register (compliant) URI schemes with hyphens, `+` signs, dots?

A `Hash` was used to store schemes, and switched to constants for Ractor support in 2021.
